@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  position: relative;
  background-color: #dcdcdc;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
