.order-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 15px;
}
.order-steps__item {
  display: flex;
  align-items: start;
  width: 215px;
  padding: 13 8px;
  border-radius: 10px;
  background-color: #f1f0f0;

  &:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: 20px;
  }
}
.order-steps__number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 13px 0 0;
}

.order-steps__title {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
}
