.sizes {
  margin-bottom: 30px;
  width: 100%;
}

.sizes__text {
  text-align: center;
  margin: 0 0 7px;
  font-size: 20px;
}
.sizes__list {
  padding: 0 15px;
  font-size: 30px;
  line-height: 30px;

  & + & {
    border-left: 1px solid #000;
  }
}

.sizes-list__item {
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  justify-content: center;
}

.sizes-list__size {
  margin-right: 5px;
}

.sizes-list__price {
  margin-right: 7px;
  text-decoration: line-through red;
  font-size: 26px;
}
