.sizes {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.sizes__list {
  width: 450px;
  font-size: 30px;
  line-height: 30px;

  & + & {
    border-left: 1px solid #000;
  }
}

.sizes-list__item {
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.sizes-list__size {
  margin-right: 5px;
}

.sizes-list__price {
  margin-right: 7px;
  text-decoration: line-through red;
  font-size: 26px;
}
