.sizes {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

.sizes__list {
  width: 50%;
  font-size: 30px;
  line-height: 30px;

  & + & {
    border-left: 1px solid #000;
  }
}

.sizes-list__item {
  font-weight: 700;

  &--text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  &--discount {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: red;
    color: #fff;
  }
}
