.swiper {
  // width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}
.swiper-wrapper {
  padding-bottom: 45px;
  padding-top: 60px;
}
.swiper-slide.swiper-slide--mySwiper {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-review {
  position: relative;
  width: 350px;
  min-height: 200px;
  background-color: #f1f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 45px 30px;
  font-size: 18px;
  line-height: 1.38;
}
.swiper-image {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.swiper-button-next.swiper-button-next--mySwiper,
.swiper-button-prev.swiper-button-prev--mySwiper {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
