.container__footer {
  background-color: #c6c6c6;
  min-height: 100px;
  padding: 20px 15px;
  text-align: center;
}

.footer__link {
  display: block;
  text-decoration: underline;
  margin-bottom: 8px;
}

.footer__text {
  margin-bottom: 8px;
}
