.header__title-wrapp {
  padding: 20px 15px;
  background-color: rgb(94, 1, 94);
}
.header__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  color: white;

  @media screen and (min-width: 450px) {
    font-size: 36px;
  }
}
