.header__title-wrapp {
  padding: 20px 15px;
  background-color: rgb(94, 1, 94);
}
.header__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
